*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
div {
    margin: 100px auto;
    width: 70%;
}
p {
    width: 100%;
    background-color: aqua;
    color: red;
    margin-top: 50px;
}
form {
    margin: 20px 40%;
}